<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ToDo管理アプリ</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/15.0.0/vuedraggable.min.js"></script>
        <link rel="stylesheet" href="stylesheet.css">
        <meta name=”viewport” content=”width=device-width, initial-scale=1”>
    </head>
    <body>
        <div class="wrapper">
            <h1>ToDo管理</h1>
            <div id="app">
                <form>
                    <input type="text" v-model="newItem" v-on:keyup.enter="addTodo" class="input-form" placeholder="タスクを入力して下さい。">
                    <button type="button" v-on:click="addTodo" id="addButton">追加</button> 
                </form>
                <div class="listCenter">
                    <ul>
                        <li v-for="item in items">
                            <input type="checkbox" v-model="item.isChecked" v-on:change="deleteTodo(item)">{{ item.title }}
                            <button type="button" v-on:click="deleteTodo(item)" id="deleteButton">削除</button>
                        </li>
                    </ul>
                </div>
            </div>
            <footer>
                <p>&copy;Azusa Okamoto.All Rights Reserved.</p>
            </footer>
        </div>
    <script src="todolist.js"></script>
    </body>

    </html>