<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ToDo管理アプリ</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/15.0.0/vuedraggable.min.js"></script>
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    <body>
    <h1>ToDo管理</h1>
    <div id="app">
        <div class="processing">
            <form>
                <input type="text" v-model="newItem" v-on:keyup.enter="addTodo" class="input-form" placeholder="タスクを入力して下さい。">
                <button type="button" v-on:click="addTodo">追加</button> 
            </form>
            <ul class="list">
                <div draggable="true" id="dragText">
                    <li v-for="item in items">{{ item.title }}
                        <button type="button" v-on:click="deleteTodo(item)">削除</button>
                    </li>
                </div>
            </ul>
        </div>
        <div id="finish" class="list">
            
        </div>
    </div>
    <script src="todolist.js"></script>
    </body>

    </html>