h1 {
    text-align: center;
}

#app {
    text-align: center;
}

.input-form {
    width: 400px;
    height: 30px;
    font-size: 25px;
}

.button {
    width: 50px;
    height: 35px;
    vertical-align: top;
}

.listCenter {
    display: flex;
    align-items: center;
    flex-direction: column;
}

ul {
    display: disc;
    padding-left: 0px;
}

ul li {
    width: 425px;
    height: 35px;
    list-style: none;
    border: 1px solid black;
    border-radius: 10px;
    word-wrap: break-word;
    font-size: 25px;
    text-align: left;
}
