h1 {
    text-align: center;
}

#app {
    display: flex;
    justify-content: center;
}

.processing {
    padding-right: 15px;
}

.input-form {
    width: 300px;
}

#finish {
    width: 300px;
    background-color: antiquewhite;
    
}

ul {
    padding-left: 0px;
}

ul li {
    width: 250px;
    list-style: none;
    border-radius: 10px;
    word-wrap: break-word;
}